 <div class = "container">
  <%= image_tag "minaos.png" %>
 </div>
 <div class = "ask_condition">
  <%= image_tag "ask_condition.png" %>
</div>
<div class = "start">
  <%= image_tag "start.png" %>
</div>
