<div class="container">
  <div class="mode"> <%= image_submit_tag "youkai.png" %> </div>
  <div class="mode"> <%= image_submit_tag "youkai.png" %> </div>
  <div class="mode"> <%= image_submit_tag "youkai.png" %> </div>
</div>
