
body {
  background-color: #FFDE99;
}
//condition のコンテナ
.container {
  display: flex; /* 要素をflexboxに対応させる */
   align-items: center; /* 縦方向の中央揃え */
   justify-content: center; /* 横方向の中央揃え */
  width: 100%;

}

.ask_condition{
  display: flex; /* 要素をflexboxに対応させる */
   align-items: center; /* 縦方向の中央揃え */
   justify-content: center; /* 横方向の中央揃え */
  width: 100%;
}

.start{
  display: flex; /* 要素をflexboxに対応させる */
   align-items: center; /* 縦方向の中央揃え */
   justify-content: center; /* 横方向の中央揃え */
  width: 100%;
}
