// Place all the styles related to the minaos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/*typography */

h1,h2,h3,h4,h5,h6 {
  line-height: 1;
}

h1 {
  font-size: 5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: serif;
}

h2 {
  font-size: 2.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;

  font-weight: bold;
font-family: "Comic Sans MS", sans-serif;
}

p{
  font-size: 1.1em;
  line-height: 1.7em;
}

/* universal */

body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  font-family: "Rounded Mplus 1c";
  background-color: #FFDE99;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


.center {
  text-align: center;

}

.center h1 {
  margin-bottom: 10px;
}
.q-area{
  margin: auto;
  height: 200px;
  width: 750px;
  position: relative;
  .moya_img{
    margin-top: -35px;
    margin-left: -55px;
    z-index: -1;
  }
  .question{
    font-weight: 700; /* bold */
    position: absolute;
    font-size: 120px;
    //mainの数字input
    .answer_form {
      font-family: "Rounded Mplus 1c";
      font-weight: 700; /* bold */

      margin-left: 40px;
      width: 240px;
      font-size: 100%;
      border: none;
      background: transparent url("inputbox.png") no-repeat;
      background-size: cover;
      text-align: center;
    }
    .answer_form:focus {
      background-image: url("focuced_inputbox.png");
    }
  }

}


  .modaal-content-container{
    font-weight: 700; /* bold */
    font-size: 120px;
  }




//resultのbox
.box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/

}
.box2 p {
    margin: 0;
    padding: 0;
}

//condition のコンテナ
.container {
  display: flex;
}

//result上部のキャラ画像コンテナ
.character {

}

.resizeimage {
  min-width: 100vw;
}

#yokai_appearance_top {
  display: none;
  position: fixed;
  z-index: 1;
 }

#yokai_appearance_bottom {
  position: fixed;
  bottom: 0;
  display: none;
  z-index: 1;
}


footer {
  height: 380px;
  //background-color: #F70841;
  position: absolute;/*wrapperの基準の絶対配置*/
  //bottom: 0; /*一番下に配置*/
  width: 100%;
}
