.box2 {
overflow:auto;
max-width:80%;
margin: 0 auto;
height:600px;
padding:5px;
border-radius: 10px;
background-color:#FFEECC;
color:#000;
font-size:11vw;
text-align: center;
img{
  width:10%;
}
}
.character{
  img{
    width: 100%;
  }
}
.score{
  font-size: 30vw;
  text-align: center;
}
.finish-button{
  img{
    width: 100%;
  }
}
.result-button{
  img{
    width: 100%;
  }
}
